@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Global*/
body{
    font-family: 'Noto Sans', sans-serif;
}

/*Home Page*/
body{
    background-color: #E5D0CC;
}

hr{
    color: #7F7B82;
}

.mainContent{
    padding-top:10vh;
}

.mainContent h1{
    font-size: 6rem;
    text-shadow:4px 4px #7F7B82;
}

.mainContent h2{
    font-size: 3rem;
    text-shadow:2px 2px #7F7B82;
}

.contentTextM{
    color: #172121;
}

.contentTextA{
    color: #444554;
}

.contentText{
    font-size: 2rem;
    /*background-color: #BFACB5;*/
    /*border: 3px solid black;*/
}

.icons{
    width:5rem;
    height:auto;
}

.contentIconLabel{
    display: inline;
    font-size: 2rem;
}

/*.skills{
    width:max-content;
    background-color: #BFACB5;
    border: 2px solid #7F7B82;
    padding-right: 2rem;
}
.skills1{
    border: 2px solid #7F7B82;
}*/

.skills:hover, .skills1:hover{
    opacity: 50%;
    transition: 1s ease;
}

/*Bootstrap*/
.pt-6,
.py-6 {
    padding-top: 15rem !important;
}

.pr-6,
.px-6 {
    padding-right: 15rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 15rem !important;
}

.pl-6,
.px-6 {
    padding-left: 15rem !important;
}

@media (max-width: 768px) {
    .contentText{
        font-size: 1.5rem !important;
    }
}

@media (max-width: 534px) {
    .contentText{
        font-size: 1rem !important;
    }
}

@media (max-width: 1055px) {
    .contentIconLabel{
        font-size: 1.5rem !important;
    }
}

@media (max-width: 1352px) {
    .contentIconLabel{
        font-size: 1.5rem !important;
    }
}

@media (min-width: 992px) {
    .pt-lg-6,
    .py-lg-6 {
        padding-top: 15rem !important;
    }

    .pr-lg-6,
    .px-lg-6 {
        padding-right: 15rem !important;
    }

    .pb-lg-6,
    .py-lg-6 {
        padding-bottom: 15rem !important;
    }

    .pl-lg-6,
    .px-lg-6 {
        padding-left: 15rem !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #888;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

