@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Global*/
body{
    font-family: 'Noto Sans', sans-serif;
}

/*Home Page*/
body{
    background-color: #E5D0CC;
}

hr{
    color: #7F7B82;
}

.mainContent{
    padding-top:10vh;
}

.mainContent h1{
    font-size: 6rem;
    text-shadow:4px 4px #7F7B82;
}

.mainContent h2{
    font-size: 3rem;
    text-shadow:2px 2px #7F7B82;
}

.contentTextM{
    color: #172121;
}

.contentTextA{
    color: #444554;
}

.contentHeader{
    font-size: 3rem;
}

.contentText{
    font-size: 2rem;
    /*background-color: #BFACB5;*/
    /*border: 3px solid black;*/
}

.table-bordered{
    border-color: #172121;
    width: min-content;
}

.table-bordered:hover{
    background-color: #BFACB5;
}

a{
    text-decoration: none;
    color: #172121;
}

a:hover{
    text-decoration: none;
    color: #172121;
}




@media (min-width: 992px) {
    .pt-lg-6,
    .py-lg-6 {
        padding-top: 15rem !important;
    }

    .pr-lg-6,
    .px-lg-6 {
        padding-right: 15rem !important;
    }

    .pb-lg-6,
    .py-lg-6 {
        padding-bottom: 15rem !important;
    }

    .pl-lg-6,
    .px-lg-6 {
        padding-left: 15rem !important;
    }
}

@media (min-width: 768px) {
    .table-bordered{
        border-color: #172121;
        transition: transform .2s;
    }
    
    .table-bordered:hover{
        background-color: #BFACB5;
        transform: scale(1.05);
        z-index: 1;
    }
}

@media (max-width: 414px) {
    .table-bordered{
        border-color: #172121;
        background-color: #BFACB5;
        margin-bottom: 2rem;
    }
    .mainContent h1{
        font-size: 4rem;
    }
}
