@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Global*/
body{
    font-family: 'Noto Sans', sans-serif;
}

/*Home Page*/
body{
    background-color: #E5D0CC;
}

.contentTextM{
    color: #172121;
}

.contentTextA{
    color: #444554;
}

.mainContent{
    padding-top:20vh;
}

.mainContent h1{
    font-size: 6rem;
    text-shadow:4px 4px #7F7B82;
}

.mainContent p{
    font-size: 2rem;
}

.mainContent a{
    text-decoration: none;
    color: #172121;
    font-size: 2rem;
    opacity: 100%;
}

.mainContent a:hover{
    opacity: 50%;
    transition: 1s ease;
}

.imgRight{
    position: absolute;
    right:0;
    z-index:-1;
}

/*Bootstrap p-6*/
.pt-6,
.py-6 {
    padding-top: 15rem !important;
}

.pr-6,
.px-6 {
    padding-right: 15rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 15rem !important;
}

.pl-6,
.px-6 {
    padding-left: 15rem !important;
}

@media (min-width: 768px) {
    .pt-md-6,
    .py-md-6 {
        padding-top: 15rem !important;
    }

    .pr-md-6,
    .px-md-6 {
        padding-right: 15rem !important;
    }

    .pb-md-6,
    .py-md-6 {
        padding-bottom: 15rem !important;
    }

    .pl-md-6,
    .px-md-6 {
        padding-left: 15rem !important;
    }
}

@media (min-width: 992px) {
    .pt-lg-6,
    .py-lg-6 {
        padding-top: 15rem !important;
    }

    .pr-lg-6,
    .px-lg-6 {
        padding-right: 15rem !important;
    }

    .pb-lg-6,
    .py-lg-6 {
        padding-bottom: 15rem !important;
    }

    .pl-lg-6,
    .px-lg-6 {
        padding-left: 15rem !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #888;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}