@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*Global*/
body{
    font-family: 'Noto Sans', sans-serif;
}

/*Home Page*/
body{
    background-color: #5AA9E6;
}

.mainContent{
    width: 75vw;
    padding-top:20vh;
}

.mainContent h1{
    font-size: 6rem;
    color: white;
    text-shadow:4px 4px #000000;
}

.mainContent p{
    margin-top: 3rem;
    font-size: 2rem;
}

.redText{
    color: #BD1E1E;
}